* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #31343d;
    --primary-bg-color: #92cccd;
}

body {
    background-color: #ededf6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
}

/* Header & Nav */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
    padding: 20px 0px;
}

header h1 {
    font-size: 2.5em;
    line-height: 1.5;
    background-color: var(--primary-bg-color);
    color: var(--main-bg-colour);
    text-shadow: 0 0 10px rgba(206, 101, 101, 0.5);
    padding: 10px;
}

header h1 a {
    text-decoration: none;
}

header nav {
    margin: 0px 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.5em;
    text-decoration: none;
    border-bottom: 4px solid #7097b2;
}

header nav ul li a {
    text-decoration: none;
    color: var(--primary-bg-color);
}

/* Jumbotron */
.jumbotron {
    background-image: url("../images/jumbotron.jpg");
    height: 15vh;
}

/* About Me*/
.flex {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 30px;
    align-items: flex-start;
    width: 80%;
    margin: auto;
}

.section-title {
    font-size: 2.25em;
    padding: 10px 15px;
    color: #445876;
    line-height: 1.5;
    text-align: right;
    text-shadow: 0 0 10px rgba(206, 101, 101, 0.5);
    width: 20%;
}

.border-styling {
    border-left: 4px solid #445876;
    padding: 0 15px;
}

.aboutme p {
    font-size: 1.375em;
    text-align: left;
    line-height: 1.3;
    text-justify: auto;
    width: 80%;
}

/* Work */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.big-article {
    flex: auto;
    margin-top: 10px;
}

.small-article {
    width: 50%;
}

.project-name {
    background-color: var(--primary-bg-color);
    padding: 30px;
    position: absolute;
    top: 120px;
    z-index: 20;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 14px; */
    line-height: 1.3;
    border-radius: 20px;
    text-align: center;
}

.project-img-title {
    position: relative;
    margin: 8px 16px 8px 0;
}

.project-img {
    height: 300px;
    background-color: var(--primary-bg-color);
    overflow: scroll;
    padding: 3px;
}

.project-img-small {
    height: 150px;
}

.project-img img {
    max-width: 100%;
}

.project-title {
    background-color: var(--primary-bg-color);
    width: 50%;
    text-align: center;
    padding: 5px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
    border-radius: 5px;

}

.project-title h3 {
    font-size: 1.75em;
    font-style: normal
}

.project-title h4 {
    font-size: 1.125em;
    font-style: italic;
}

.project-img::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.project-img-title:hover {
    transform: scale(1.1);
}

/* Footer */
footer h2 {
    width: 20%;
}

footer div {
    width: 80%;
}

.contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 20px 30px;
}

.contact-list li {
    font-size: 1.375em;
    color: #445876;
    padding: 0px 10;
    border-bottom: 4px solid #445876;
}

.contact-list li a {
    text-decoration: none;
    color: #445876
}

/* Coming Soon HTML Page */
.coming-soon {
    background-image: url('../images/coming-soon.jpg');
    height: 100vh;
    background-size: cover;
}

/* Media Query for the mobile  */
@media only screen and (min-width: 200px) and (max-width:1025px) {

    /* Header */
    header {
        padding: 5px 0;
        margin: 10px 0;
    }

    header h1 {
        font-size: 2em;
        padding: 5px;
    }

    header nav {
        margin: 7px 0;
    }

    header nav ul li {
        font-size: 1.25em;
    }

    /* About Me */
    .flex {
        flex-flow: column wrap;
        align-items: normal;
        width: 100%;
    }

    .aboutme p {
        padding-top: 1.25em;
    }

    .section-title {
        /* font-size: 16px; */
        text-align: center;
    }

    .border-styling {
        border: 0;
        border-top: 4px solid #445876;
        /* padding-top: 15px; */
    }

    .flex p {
        /* font-size:12px; */
        width: 100%;
    }

    .section-title,
    .projects,
    .small-article {
        width: 100%;
    }

    .project-title h3 {
        font-size: 1.375em;
    }

    .project-title h4 {
        font-size: 1.125em;
    }

    .contact-list {
        padding: 0;
    }

    .contact-list li {
        font-size: 1.25em;
        border: none;
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    footer div {
        width: 100%;
    }
}